@model Product
@{
	ViewData["Title"] = "Create";
	Layout = "_Layout";
}

<form method="post" asp-action="Create">
	<div class="mb-3">
		<label asp-for="Name">Name:</label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Price">Price:</label>
		<input asp-for="Price" class="form-control" />
	</div>
	<div class="mb-3">
		<button class="btn btn-primary" type="submit">Create</button>
		<a class="btn btn-secondary" asp-action="Index">Cancel</a>
	</div>
</form>